.cedit-root {
  position: relative;
}
.cedit-textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 240px;
}
.cedit-root, .cedit-root * {
  box-sizing: border-box;
}
.cedit-toolbar {
  display: flex;
}
.cedit-toolbar.cedit-toolbar-collapsed {
  position: relative;
  background: none;
}
.cedit-toolbar.cedit-toolbar-collapsed>.cedit-toolbar-button,
.cedit-toolbar.cedit-toolbar-collapsed>.cedit-toolbar-separator {
  display: none;
}
.cedit-toolbar.cedit-toolbar-collapsed>.cedit-toolbar-button.cedit-toolbar-button.cedit-toolbar-button_expand-collapse {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.cedit-toolbar-button.cedit-toolbar-button-highlighted {
  color: Highlight;
}
.cedit-toolbar-separator {
  margin: 0 2px;
  width: 1px;
  background: currentColor;
  justify-self: stretch;
  align-self: stretch;
}
.cedit-toolbar-button.cedit-toolbar-button_font-bold { font-weight: bold; }
.cedit-toolbar-button.cedit-toolbar-button_font-italic { font-style: italic; }
.cedit-toolbar-button.cedit-toolbar-button_font-underline { text-decoration: underline; }
.cedit-toolbar-button.cedit-toolbar-button_font-monospace { font-family: monospace; letter-spacing: -2px; }
.cedit-toolbar-button.cedit-toolbar-button-fixed-width { width: 3em; }
.cedit-toolbar-button.cedit-toolbar-button_expand-collapse { margin-left: auto; }
.cedit-toolbar-button.cedit-toolbar-button_expand-collapse::before { content: "\25B2"; }
.cedit-toolbar-button.cedit-toolbar-button_action-help { font-weight: bold; }
.cedit-toolbar.cedit-toolbar-collapsed>.cedit-toolbar-button.cedit-toolbar-button.cedit-toolbar-button_expand-collapse::before { content: "\25BC"; }
.cedit-alert-root {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.cedit-alert-message {
  flex-grow: 1;
  overflow: auto;
}
.cedit-alert-buttons {
  display: flex;
  justify-content: flex-end;
}
